.elements {
    display: flex;
    margin: 0;
    color: #000;    
}

.elements__cards {
    display: grid;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: auto;
    gap: 21px 17px;
    width: 100%;
    max-width: 880px;
}

.card__image-container {
  position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 282px;
    background-color: #fff;
    overflow: hidden;
}

.card__image {
    margin: 0;
    width: 282px;
    height: 282px;
}

.card__delete-button {
    position: absolute;
    top: 18px;
    right: 15px;
    display: flex;
    flex-direction: column;
    border-style: none;
    background: transparent;
    cursor: pointer;
}



.card__footer {
    display: flex;
    width: 246px;
    justify-content: space-around;
    margin: 0;
    align-items: baseline;
}

.card__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 25px 15px 31px 21px;
    height: 23px;
}

.card__like-button {
    background-image: url(./images/like-button.svg);
    margin: 0 ;
    background-color: transparent;
    width: 21px;
    height: 19px;
    border-style: none;
    cursor: pointer;
    
}

.card__like-button-active {
    background-image:url(../images/like-button-active.png);
}

