.profile {
    margin: 0 auto;
    display: flex;
    max-width: 882px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0px 200px;
       
}

.profile__content{
    display: flex;
    justify-content: space-between;
}

.profile__avatar {
    width: 120px;
    height: 120px;
    margin-right: 30px;
}

.profile__info {
  padding-left: 30px;
  padding-right: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__name {
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    text-transform: capitalize;
    padding-right: 30px;
}

.profile__description {
    font-weight: 400;
    font-size: 18px;
    margin: 10px 0;
    text-transform: capitalize;
}

.profile__button_type_edit {
    min-width: 24px;
    max-height: 24px;
    background: none;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    margin-top: 30px;
    cursor: pointer;
}

.profile__button_type_edit:hover {
  opacity: 60%;
}

.profile__button_type_add {
    min-width: 150px;
    min-height: 50px;
    background: none;
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
}

.profile__button_type_add:hover {
  opacity: 60%;
}

